<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form_style.css">
    <script src="../static/script.js" defer></script>
    <title>Income Model</title>
</head>
<body>
    <h1>Income Prediction</h1>

    <form id="incomeForm">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required step="1">

        <label for="experience">Years of Experience:</label>
        <input type="number" id="experience" name="experience" required step="0.1">

        <button type="submit">Predict Income</button>
    </form>

    <div id="result"></div>

    <div class="model">
        <h3>Income Model</h3>
        <img src="{{ url_for('static', filename='models/income_model_actual_vs_pred.png') }}" alt="Income Actual vs Predicted">
        <img src="{{ url_for('static', filename='models/income_model_residuals.png') }}" alt="Income Residual Plot">
        <img src="{{ url_for('static', filename='models/income_model_residual_hist.png') }}" alt="Income Residual Plot Histogram">
        <img src="{{ url_for('static', filename='models/income_model_qqplot.png') }}" alt="Income Q-Q Plot">
    </div>
</body>
</html>
