<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard_style.css">
    <script src="../static/script.js" defer></script>
    <title>Prediction Model</title>
</head>
<body>
    <h1 class="title">Prediction Models Dashboard</h1>
    <button class="buttons" id="salary">Salary Model</button>
    <button class="buttons" id="income">Income Model</button>
    <button class="buttons" id="sales">Advertising Sales Model</button>
</body>
</html>