<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form_style.css">
    <script src="../static/script.js" defer></script>
    <title>Salary Model</title>
</head>
<body>
    <h1>Salary Prediction</h1>

    <form id="salaryForm">
        <label for="years">Years of Experience:</label>
        <input type="number" id="years" name="YearsExperience" required step="0.1">
        <button type="submit">Predict Salary</button>
    </form>

    <div id="result"></div>

    <div class="model">
        <h3>Salary Model</h3>
        <img src="{{ url_for('static', filename='models/salary_model_actual_vs_pred.png') }}" alt="Salary Actual vs Predicted">
        <img src="{{ url_for('static', filename='models/salary_model_residuals.png') }}" alt="Salary Residual Plot">
        <img src="{{ url_for('static', filename='models/salary_model_residual_hist.png') }}" alt="Salary Residual Plot Histogram">
        <img src="{{ url_for('static', filename='models/salary_model_qqplot.png') }}" alt="Salary Q-Q Plot">
    </div>
</body>
</html>